<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>
    <link rel="stylesheet" href="../content/tab.css">
</head>
<body style="margin: 0;padding: 0;">
    <div style="background-color: antiquewhite;width: 100%;height: 100vh;">

    </div>
    <div class="cd-switchtab-tabs-container active">
        <div class="cd-switchtab-tab-row">
            <div class="tab-card">
                <div>
                    <div class="tab-icon" style="background-image: url('https://tracuuthansohoc.com/xem-online/uploads/favicon/favicon.ico');"></div>
                    <div class="tab-title">djh kshf ekwhisd fkwejhfw iehfiuehisdhfi uwiuefhi eufhiwe dfwew</div>
                </div>
            </div>
            <div class="tab-card">
                <div>
                    <div class="tab-icon"></div>
                    <div class="tab-title">djh kshf ekwhisd fkwejhfw iehfiuehisdhfi uwiuefhi eufhiwe dfwew</div>
                </div>
            </div>
            <div class="tab-card">
                <div>
                    <div class="tab-icon"></div>
                    <div class="tab-title">djh kshf ekwhisd fkwejhfw iehfiuehisdhfi uwiuefhi eufhiwe dfwew</div>
                </div>
            </div>
            <div class="tab-card">
                <div>
                    <div class="tab-icon"></div>
                    <div class="tab-title">djh kshf ekwhisd fkwejhfw iehfiuehisdhfi uwiuefhi eufhiwe dfwew</div>
                </div>
            </div>
            <div class="tab-card">
                <div>
                    <div class="tab-icon"></div>
                    <div class="tab-title">djh kshf ekwhisd fkwejhfw iehfiuehisdhfi uwiuefhi eufhiwe dfwew</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cd-switchtab-tabs-container invisible">
        <div class="cd-switchtab-tab-row">
            <div class="tab-card" id="template-tab-card">
                <div class="tab-title">djh kshf ekwhisd fkwejhfw iehfiuehisdhfi uwiuefhi eufhiwe dfwew</div>
            </div>
        </div>
    </div>
    <script>

    </script>
</body>
</html>